div.cover{

  display: flex;
  justify-content: center;
  align-items: center;

  div.square{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vw;
    min-width: 500px;
    max-width: 800px;
    height: 50vw;
    min-height: 500px;
    max-height: 800px;

    position: relative;

    background: #EDAE49;

    color: white;

    cursor: help;

    a.lang_switch{
      font-family: Lekton, sans-serif;
      text-decoration: none;
      color: white;

      position: absolute;
      left: 25px;
      top: 25px;
    }

    h1 {

      font-family: 'Press Start 2P', cursive;
      font-size: 80px;

      cursor: inherit;
    }

    h3 {
      font-family: Lekton, sans-serif;
      font-weight: bold;
      font-size: 30px;

      margin: 10px 0;

      cursor: inherit;
    }

    div.socials{
      margin: 10px 0 0;

      a{

        color: white;
        font-size: 25px;
        padding: 15px;

      }

    }

    i.arrow_down{

      position: absolute;
      bottom: 25px;
      font-size: 25px;

    }

  }

}
